<div ng-include="'components/navbar/navbar.html'"></div>
<div ng-include="'components/alerts/alters.html'"></div>

<div class="container">
  <p>Hier findest du alle von dir angelegten Zertifikate. Du kannst bestehende Zertifikate entfernen oder neue anlegen</p>
  <table class="table table-striped">
    <thead>
    <th>Zertifikatname</th>
    <th>Erstellungsdatum</th>
    <th>Ablaufdatum</th>
    <th>Download</th>
    <th class="pull-right">Revoke</th>
    </thead>
    <tbody>
    <tr ng-repeat="cert in certificates">
      <td>{{cert.name}}</td>
      <td>{{cert.date | date:'medium'}}</td>
      <td>{{cert.revokeDate | date:'medium'}}</td>
      <td>

      <button type="button" class="btn btn-primary " ng-click="download(cert)" ng-hide="cert.revoked">
        Zertifikat downloaden
      </button>
      </td>
      <td>
        <a ng-click="deleteCert(cert)"  class="trash"><span class="glyphicon glyphicon-trash pull-right"></span></a>
      </td>
    </tr>
    </tbody>

  </table>

  <upload-button class="btn btn-primary pull-right"
          url="/api/certificatess/"
          param="file"
          on-success="onSuccess(response)" data="formdata">Upload</upload-button>
</div>
