<div ng-include="'components/navbar/navbar.html'"></div>

<header class="hero-unit" id="banner">
  <div class="container">
    <h1>Willkommen!</h1>
    <p class="lead">Erstelle und Verwalte deine Zertifikate!</p>
    <img src="../../assets/images/Zertifikate.png" alt="I'm Yeoman" style="width: 100px">
  </div>
</header>

<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Features:</h1>
      <ul class="nav nav-tabs nav-stacked col-md-4 col-lg-4 col-sm-6" ng-repeat="thing in awesomeThings">
        <li><a href="/presi/{{thing.info}}/index.html" ng-click="clickThing(thing)">{{thing.name}}</a></li>
      </ul>
    </div>
  </div>
</div>

<footer class="footer">
  <div class="container">
      <p>PKI42 |
        <a href="https://github.com/Reilif/RAFull">GitHub</a> |
         <a href="https://github.com/Reilif/RAFull/issues">Issues</a></p>
  </div>
</footer>
