<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1>Registrierung</h1>

      <p>Dies ist eine Voranmeldung für unseren Service. Da wir ihre Identität zunächst prüfen müssen, wird sich ein
        Mitarbeiter von uns mit Ihnen in Verbindung setzen um einen Termin zu vereinbaren. Wir bitten um ihr Verständinss.</p>
    </div>
    <div class="col-sm-12">
      <form class="form" name="form" ng-submit="register(form)" novalidate>
        <div class="form-group" ng-class="{ 'has-success': form.name.$valid && submitted,
                                            'has-error': form.name.$invalid && submitted }">
          <label>Name</label>

          <input type="text" name="name" class="form-control" ng-model="user.name"
                 required/>

          <p class="help-block" ng-show="form.name.$error.required && submitted">
            Es wird ein Name benötigt
          </p>
        </div>

        <div class="form-group" ng-class="{ 'has-success': form.email.$valid && submitted,
                                            'has-error': form.email.$invalid && submitted }">
          <label>Email</label>

          <input type="email" name="email" class="form-control" ng-model="user.email"
                 required
                 mongoose-error/>

          <p class="help-block" ng-show="form.email.$error.email && submitted">
            Dies ist keine korrekte E-Mail Adresse
          </p>

          <p class="help-block" ng-show="form.email.$error.required && submitted">
            Es wird eine E-Mail benötigt
          </p>

          <p class="help-block" ng-show="form.email.$error.mongoose">
            {{ errors.email }}
          </p>
        </div>

        <div class="form-group" ng-class="{ 'has-success': form.password.$valid && submitted,
                                            'has-error': form.password.$invalid && submitted }">
          <label>Passwort</label>

          <input type="password" name="password" class="form-control" ng-model="user.password"
                 ng-minlength="3"
                 required
                 mongoose-error/>

          <p class="help-block"
             ng-show="(form.password.$error.minlength || form.password.$error.required) && submitted">
            Das Passwort muss mindestens drei Zeichen haben.
          </p>

          <p class="help-block" ng-show="form.password.$error.mongoose">
            {{ errors.password }}
          </p>
        </div>

        <div>
          <button class="btn btn-inverse btn-lg btn-login" type="submit">
            Registrieren
          </button>
          <a class="btn btn-default btn-lg btn-register" href="/login">
            Anmelden
          </a>
        </div>

      </form>
    </div>
  </div>
  <hr>
</div>
